.gallery {
    display: flex;
    gap: 10px;
    padding-top: 65px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.load-more {
    width: 30%;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    position: relative;
    bottom: -15px;
}